{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <h2 style="text-align:center;">Como volverse un usuario premium</h2>
    <br>
    <br>
    <br>
    <br>
    <div style="padding:10">
        <div class="center">
            <h6 class="flow-text">Para volverse un usuario premium, solo necesita acercarse a una de nuestras sucursales, con su DNI, credenciales de su cuenta de HomeSwitchHome, y un monto de 599.99 pesos. Los usuarios premium pagan una arrienda ligeramente mayor a la de los usuarios normales, pero pueden reservar semanas individuales de las residencias del sitio antes que estas entren en subasta, pagando solo un precio menor por esto. No se pierda esta oportunidad, unase ya al programa premium.</h6>
        </div>
    </div>
{% endblock %}