{% extends "base.html" %}

{% block content %}
    <br>
    <div class="container">
        <h2>Preguntas frecuentes</h2>
        <br>
        <br>
        <ul class="collapsible">
            <li>
              <div class="collapsible-header">¿Donde puedo ver mis reservas?</div>
              <div class="collapsible-body"><span>Accediendo a la opción perfil, puede ver su información personal y debajo aparecerán las reservas que vaya realizando.</span></div>
            </li>
            <li>
              <div class="collapsible-header">¿Qué ventajas tiene ser usuario premium?</div>
              <div class="collapsible-body"><span>Como usuario premium, podrias reservar residencias directamente, sin preocuparte por participar en las subastas.</span></div>
            </li>
            <li>
              <div class="collapsible-header">¿Cómo puedo saber qué tipo de usuario soy?</div>
              <div class="collapsible-body"><span>Accediendo a la opción perfil, puede ver debajo de su email, un campo que indica si usted es un usuario premium o no.</span></div>
            </li>
            <li>
              <div class="collapsible-header">¿Pierdo créditos al participar en una subasta o un hotsale?</div>
              <div class="collapsible-body"><span>Todas las subastas que gane, le restarán un crédito. En cambio, los hotsales no consumen créditos.</span></div>
            </li>
            <li>
              <div class="collapsible-header">No tengo más créditos, ¿puedo seguir participando en subastas o haciendo reservas directas?</div>
              <div class="collapsible-body"><span>No, una vez que consuma sus créditos, deberá esperar a que sean renovados para volver a participar en subastas o realizar reservas.</span></div>
            </li>
            <li>
              <div class="collapsible-header">¿Hay forma de adquirir más créditos?</div>
              <div class="collapsible-body"><span>No, cada persona cuenta solo con 2 créditos por año, sin excepción.</span></div>
            </li>
        </ul>
    </div>
{% endblock content %}