{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1>{{titulo}}</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <form method="POST" action='http://127.0.0.1:8000/crear_residencia'>
            {% csrf_token %}
                {{form}}
                <button class="btn" style="background-color:#90a4ae; color:white" type="submit"> registrar</button>
                <a class="btn" style="background-color:#90a4ae; color:white" href="/"> cancelar</a>
        </form>
    </div>

{% endblock %}