{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="centrar">
        <div class="row">
            <div class="col s12 m6 l3">
                  <div class="card medium">
                    <div class="card-content">
                      <p>Nombre: {{perfil.nombre}}</p>
                      <p>Apellido: {{perfil.apellido}}</p>
                      <p>Fecha de Nacimiento: {{perfil.fecha_nacimiento|date:'d/m/y'}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="POST" action=''>
            {% csrf_token %}
                <h1>Editar perfil</h1>
                <br>
                {{form}}
                <button class="btn" style="background-color:#90a4ae; color:white" type="submit"> actualizar</button>
                <a class="btn" style="background-color:#90a4ae; color:white" href="/perfil"> cancelar</a>
        </form>
    </div>
{% endblock content %}
