{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container">
        <form method="POST" action=''>
            {% csrf_token %}
                <h3 style="text-align:center;">Editar perfil</h3>
                <br>
                <table style="width:66%; margin:auto;">{{ form.as_table }}</table>
                <div style="text-align:center;">
                    <button class="btn" style="background-color:#90a4ae; color:white" type="submit"> actualizar</button>
                    <a class="btn" style="background-color:#90a4ae; color:white" href="/perfil"> cancelar</a>
                </div>
        </form>
    </div>
{% endblock content %}
