{% extends "base.html" %}

{% block content %}

    <div class="row">
        {% for usuario in usuarios %}
                <div class="col s12 m6 l3">
                  <div class="card big">
                    <span class="card-title" style="font-size:200%">{{usuario.email}}</span>
                    <div class="card-content">
                      <p>Aqui iria la info del usuario...</p>
                      <p>Pero tengo paja de escribirla ahora mismo.</p>
                    </div>
                  </div>
                </div>
        {% endfor %}
    </div>

{% endblock content %}