{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% for sub in subastas %}
                <div class="col s12 m6 l3">
                  <div class="card big">
                    <div class="card-image">
                      <img src={{sub.id_reserva.id_residencia.imagen_URL}} class="img">
                      <span class="card-title" style="font-size:200%">{{sub.id_reserva.id_residencia.nombre}}</span>
                    </div>
                    <div class="card-content">
                      <br>
                      <p style="font-size:130%;">Fecha: {{sub.id_reserva.fecha}}</p>
                      <p style="font-size:130%;">Localidad: {{sub.id_reserva.id_residencia.localidad}}</p>
                      <p style="font-size:130%;">Última puja: $ {{sub.obtener_monto_max}}</p>
                      <p style="font-size:130%;">Ganador: {{sub.obtener_ganador}} </p>
                      <br>
                      <br>
                    </div>
                  </div>
                </div>
        {% endfor %}
    </div>
{% endblock content %}