{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <br>
        <br>
        <br>
        <h6 style="text-align:center;">Hola, {{user.email}}, parece que ya has iniciado tu sesion. <a href="http://127.0.0.1:8000/">¿Quieres volver a la pagina principal?</a></h6>
    {% else %}
    <div class="container">
        <br>
        <br>
        <br>
        <h3 style="text-align:center;">Iniciar Sesion</h3>
        <br>
        <br>
        <br>
        <form method="POST">
            {% csrf_token %}
            <table style="width:66%; margin:auto;">{{ form.as_table }}</table>
            <br>
            <div class="centrar">
                <label for="id_recordar_contraseña" style="padding-right:20px">¿Recordar contraseña?</label>
                <label><input id="id_recordar_contraseña" type="checkbox" name="recordar_contraseña"></label>
            </div>
            <br>
            <div style="text-align:center;"><button class="btn" style="background-color:#90a4ae; color:white" type="submit">Ingresar</button></div>
        </form>
    </div>
    {% endif %}
{% endblock %}