{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="centrar">
        <div class="row">
            <div class="col s12 m6 l3">
                  <div class="card medium">
                    <br>
                    <div class="card-title" style="font-size:150%; text-align:center;">{{user.email}}</div>
                    <div class="card-content">
                        {% if user.is_premium %}
                            <p class="yellow darken-2" style="text-align:center;">PREMIUM</p>
                        {% else %}
                            <p style="text-align:center;">No premium</p>
                        {% endif %}
                        <br>
                        <p>Nombre completo: {{perfil.apellido}} {{perfil.nombre}}</p>
                        <p>Fecha de nacimiento: {{perfil.fecha_nacimiento|date:'d/m/Y'}}</p>
                        <p>Creditos: {{perfil.creditos}}</p>
                        <p>Vencimiento de sus creditos: {% if perfil.creditos == 0 %} - {% else %}{{perfil.vencimiento_creditos|date:'d/m/y'}}{% endif %}</p>
                        <br>
                        <p>Tarjeta: {{perfil.marca_tarjeta_credito}} {{nrotarjeta}}</p>
                        <div class="card-action">
                            <a href="http://127.0.0.1:8000/editar_perfil/{{perfil.id}}">Editar Perfil</a>
                            <a href="http://127.0.0.1:8000/cambiar_tarjeta/{{perfil.id}}">Cambiar mi tarjeta</a>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
    <br>
    <br>
    <div class="centrar">
        <h3>Reservas actuales:</h3>
    </div>
    <div class="centrar">
        {% if reservas %}
            {% for res in reservas %}
                <div class="row">
                    <div class="card small">
                        <div class="card-image">
                            <img src={{res.id_residencia.imagen_URL}} class="img">
                            <span class="card-title" style="font-size:200%">{{res.id_residencia.nombre}}</span>
                        </div>
                        <div class="card content" style="height:125px;text-align:center">
                            <p>Fecha: {{res.fecha|date:'d/m/Y'}}</p>
                            <p>Localidad: {{res.id_residencia.localidad}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>Parece que aun no has conseguido ninguna reserva.</h6>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="padding:20;">
        {% if not user.is_premium %}
            Actualmente, no eres un usuario premium. Como usuario premium, podrias reservar residencias directamente, sin preocuparte por participar en las subastas.
            ¿Quieres volverte premium? Haz click <a href="#ayuda" class="modal-trigger">aqui</a> para saber como.
        {% endif %}
    </div>
    <div class="modal" id="ayuda">
        <div class="modal-content">
            <h4>Como hacerse premium</h4>
            <h6>Para volverse un usuario premium, solo necesita acercarse a una de nuestras sucursales con su DNI, credenciales de su cuenta de HomeSwitchHome,
                y un monto de ${{precio.precio_Premium}}. Los usuarios premium pagan una arrienda ligeramente mayor a la de los usuarios normales, pero pueden reservar semanas
                individuales de las residencias del sitio antes que estas entren en subasta. No se pierda esta oportunidad,
                unase ya al programa premium.</h6>
            <div class="modal-footer">
                <a href="#" class="modal-close btn" style="background-color:#90a4ae; color:white">Cerrar</a>
            </div>
        </div>
    </div>
{% endblock content %}