{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% for res in reservas %}
                <div class="col s12 m6 l3">
                  <div class="card big">
                    <div class="card-image">
                      <img src={{res.id_residencia.imagen_URL}} class="img">
                      <span class="card-title" style="font-size:200%">{{res.id_residencia.nombre}}</span>
                    </div>
                    <div class="card-content">
                      <br>
                      <p style="font-size:130%;">Fecha: {{res.fecha|date:'d/m/Y'}}</p>
                      <p style="font-size:130%;">Localidad: {{res.id_residencia.localidad}}</p>
                      <br>
                      <br>
                    </div>
                    <div class="card-action">
                        <a href="http://127.0.0.1:8000/crear_hotsale/{{res.id}}">Crear</a>
                    </div>
                  </div>
                </div>
        {% endfor %}
    </div>
{% endblock content %}