[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative !important;
    opacity: 100 !important;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative !important;
    opacity: 100 !important;
    pointer-events: auto !important;
}